/* Start Frist Solve */
/* body {
    background-color: #0304;
    display: flex;
    justify-content: center;
}
div {
    width: 400px;
    height: 400px;
    background-color: #FFF;
    border-radius: 10px;
} */
/* End Frist Solve */















/* Start Second Solve */
/* body {
    background-color: #0304;
}
div {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: #FFF;
    border-radius: 10px;
} */
/* End Second Solve */









/* Start Third Solve  */
/* body {
    position: relative;
    background-color: #0304;
}
div {
    position: absolute;
    left: 50%;
    translate: -50%;
    width: 400px;
    height: 400px;
    background-color: #FFF;
    border-radius: 10px;
} */
/* End Third Solve  */










/* Start Fourth Solve */
/* body {
    background-color: #0304;
    display: grid;
    grid-template-columns: 1;
    place-content: center;
}
div {
    width: 400px;
    height: 400px;
    background-color: #FFF;
    border-radius: 10px;
} */
/* End Fourth Solve */











/* Start Fifth Solve */
/* body {
    background-color: #0304;
    text-align: center;
}
div {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-color: #FFF;
    border-radius: 10px;
} */
/* Start Fifth Solve */